@model RPGApplication.Models.Proficiency

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Proficiencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProficiencyId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
